@font-face {
  font-family: "FordScript";
  src: url("./Fonts/Fordscript.ttf") format("truetype");
}

@font-face {
  font-family: "HyperWave";
  src: url("./Fonts/Hyperwave.otf") format("opentype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 500px;
}

._one {
  display: block;
  height: 120px;
  background-color: #ffffff;
}

.box header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-family: "FordScript", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: black;
}

.logo-text img {
  width: 75px;
  height: auto;
}

.header-links {
  margin-right: 10%;
}

.header-links a {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

._two {
  background-color: #022c5b;
}

._two-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 520px;
  padding: 20px;
  margin-left: 9.5%;
  font-family: sans-serif;
  color: #F9FAF8;
}

._two-description h2 {
  margin-bottom: 30px;
  font-family: "FordScript", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}

._two-description p {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

._two-description button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: #3882F6;
  font-weight: 300;
  text-align: left;
  color: white;
}

._two-image {
  display: flex;
  align-items: center;
  margin-right: 11%;
  margin-left: auto;
}

._two-image img {
  max-width: 700px;
  height: auto;
  border: 3px solid white;
}

._three {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-color: #ffffff;
}

._three h2 {
  margin-top: 50px;
  font-family: "FordScript", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: black;
}

._three-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 400px;
}

._three-images img {
  max-width: 350px;
  height: auto;
  border: 3px solid black;
}

._three-images-description {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 200px;
  padding: 0;
  margin-bottom: 100px;
}

._three-images-description p {
  width: 250px;
  height: 50px;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 0;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: black;
}

._four {
  height: 600px;
  background-color: #E5E7EB;
}

._four-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  padding: 20px;
  margin-right: 10%;
  font-family: sans-serif;
  color: black;
}

._four-description h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "HyperWave", sans-serif;
  font-size: 120px;
  font-weight: 300;
  text-align: center;
}

._four-description ul {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

._four-description li {
  margin-bottom: 20px;
}

._four-image {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 11%;
}

._four-image img {
  max-width: 700px;
  height: auto;
  border: 3px solid black;
}

._five {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #ffffff;
}

._five-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1500px;
  height: 400px;
  border-radius: 20px;
  background-color: #022c5b;
  color: white;
}

._five-box p {
  width: 500px;
  font-family: "FordScript", sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

._five-box button {
  padding: 20px 90px;
  border: none;
  border-radius: 10px;
  background-color: #3882F6;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  color: white;
}